<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to Nodejs Tutorials</h2>
      <p>
        Node.js is an open source, cross-platform runtime environment for
        developing server-side and networking applications. Node.js applications
        are written in JavaScript, and can be run within the Node.js runtime on
        OS X, Microsoft Windows, and Linux.
      </p>
    </div>
  </div>
</div>
